/* Barra superior e inferior */
.bar {
  background-color: #8CA8C2;
  height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1000;
}

.bar.top {
  top: 0;
}

.bar.bottom {
  bottom: 0;
}

/* Layout principal */
.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: calc(100vh - 160px);
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  overflow: hidden;
}

/* Card de login */
.card {
  background-color: #f5f5f5;
  padding: 105px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 485px;
  text-align: center;
  margin-bottom: 30px;
}

.title {
  font-size: 38px;
  position: relative;
  top: -45px;
}

/* Campos de entrada */
.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Campo de senha */
.passwordContainer {
  position: relative;
  width: 100%;
}

.togglePassword {
  position: absolute;
  right: 10px;
  top: 37%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #007BFF;
}

.togglePassword:hover {
  text-decoration: underline;
}

/* Botão de login */
.button {
  width: 100%;
  padding: 12px;
  background-color: #1F577C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #5a6d80;
}

/* Separador */
.separator {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0; /* Ajustado para elevar o "OU" */
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.orText {
  margin: 0 10px;
  color: #666;
}

/* Botão Google */
.googleButton {
  width: 100%;
  padding: 12px;
  background-color: #DB4437;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}

.googleButton:hover {
  background-color: #C2332B;
}

/* Esqueceu a senha */
.forgotPassword {
  color: #8CA8C2;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

.forgotPassword:hover {
  text-decoration: underline;
}

/* Cadastro */
.register {
  background-color: #f5f5f5;
  padding: 21px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 485px;
  text-align: center;
}

.registerText {
  color: #666;
}

.registerLink {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1rem;
}

.registerLink:hover {
  text-decoration: underline;
}
