.cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #8ca8c2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.botaoMenu {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 24px;
  padding: 0;
  transform: translateX(20px);
}

.ponto {
  display: block;
  line-height: 0.4;
  caret-color: transparent;
  font-size: 24px;
  margin-bottom: 3px;
}

.tituloCabecalho {
  font-size: 34px;
  font-weight: bold;
  color: black;
  margin-left: 1560px;
}

.logo {
  width: 126.5px;
  height: auto;
}

.barraPesquisaFiltros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0 20px;
  border-radius: 15px;
  transform: translateX(-220px);
}

.barraPesquisaContainer {
  position: relative;
  width: 50%;
  margin-left: 880px;
}

.barraPesquisa {
  width: 55%;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.iconePesquisa {
  position: absolute;
  right: 380px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888787;
}

.filtros {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tituloFiltros {
  font-size: 16px;
  margin-bottom: 5px;
  transform: translateX(-140px);
}

.selectCategorias {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  caret-color: transparent;
}

.secao {
  padding: 20px;
}

.tituloSecao {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.containerCards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 23%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 295px;
}

.conteudoCard {
  padding: 20px;
}

.rodapeCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
}

.estrelas {
  display: flex;
}

.iconeComentario {
  font-size: 20px;
  color: #888787;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.paginaHome {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.tituloSecao, .card {
  caret-color: transparent;
}
